---
import {
  AnnouncementBar,
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
  StickyTextImageSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';
import TextAndImageHero from '../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'Home | LCOY UAE',
	description: 'Home | LCOY UAE',
};
---


<Layout seo={seo} >
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>LCOY UAE 2023</h1>
			<p>Putting youth at the heart of climate action</p>
		</div>
		<div slot="btns-container">
			<Button href="/register" materialIcon="chevron_right"
				>Register Now</Button
			>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/home/lcoy_landing_page.jpg"
				alt="LCOY UAE 2023 Welcome Graphic"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>

	<! CustomerQuoteSection
		quoteText="dolor sit amet consectetur adipisicing elit. Laborum, vero nobis? Voluptas assumenda, voluptatibus commodi qui ducimus delectus praesentium maiores, impedit iure labore ratione, ea facilis numquam doloremque aperiam aspernatur."
		customerName="Happy Customer"
	/>

	<ThreeColumnTextSection>
		<div slot="column-1-body">
			<h2>What?</h2>
			<p>
				LCOY UAE is an event designed to bring together youth from around the country to inspire local climate action and create inputs to regional and global conferences of youth. It's fun, we promise.
			</p>
		</div>
		<Button slot="column-1-cta" href="/about">Learn More</Button>
		<div slot="column-2-body">
			<h2>How?</h2>
			<p>
				The LCOY will include interactive sessions and discussions on various topics. It will involve practical activities which will provide hands-on experiences for participants and promote local action in addressing climate change challenges.
			</p>
		</div>
		<Button slot="column-2-cta" href="/info">Learn More</Button>
		<div slot="column-3-body">
			<h2>Who?</h2>
			<p>
				LCOY UAE is organised by the youth, for the youth. The conference is proudly hosted by the International Center for Biosaline Agriculture (ICBA) in partnership with Zayed University (ZU) on October 25-26, 2023. Organizing partners include Global Shapers Dubai Hub, Arab Youth Environment Programme, Kulna- Environmental Club Zayed University, Arab Youth Council for Climate Change, Global Compact Network - UAE and UN Resident Coordinator Office - UAE.
				The event has received sponsorship from Schneider Electric and Siemens Middle East and Accuracy.
			</p>
		</div>
		<Button slot="column-3-cta" href="/about.html#us">Learn More</Button>
	</ThreeColumnTextSection>

	<script type="text/javascript">
        function scroll() {
            var my_element = document.getElementById("us");
            my_element.scrollIntoView({
              behavior: "smooth",
              block: "start",
              inline: "nearest"
            });
        }
    </script>

	<YouTubeEmbedSection url="https://youtu.be/6hdae7UzdsU?si=nutwIOGQB5jEUWl2" rounded />
	{/* I'd recommend leaving that rounded prop on the YouTubeEmbedSection, it looks better */}

  <CtaCardSection background="var(--theme-surface-2)" color="var(--theme-on-surface-2)">
    <h2>Register Now</h2>
    <p>We welcome you to take a few minutes to register and share your thoughts on the identified thematic areas of LCOY UAE 2023. We are excited to hear your insights! Please share your unique perspectives.
    </p>
    <Button href="/register" materialIcon="chevron_right">Register Now</Button>
  </CtaCardSection>

</Layout>

