---
import {
	TextCardSection,
	Container,
	Button,
	FormInput,
	FormSelect,
	FormTextarea,
	TextImageSection,
} from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';

const seo = {
	title: 'Info | LCOY UAE ',
	description: 'Event Outline for LCOY UAE 2022',
};

const selectOptions = ['Option 1', 'Option 2', 'Option 3'];
---




<Layout {seo}>
	<Container>
		<TextCardSection>
			<h1>What's happening?</h1>
			<p>
				The LCOY will include interactive sessions and discussions on various topics. It will involve practical activities which will provide hands-on experiences for participants and promote local action in addressing climate change challenges. Additionally, it includes creativity for sustainability challenge, winners to be featured on our website and social media platforms.
			</p>
		</TextCardSection>

		<section class="style-guide__section">
			<div>
				<img src="/assets/images/participants.png" alt="Participants"/>
			</div>
			<div>
                <h2>Event Outline</h2>
                <p>
					The LCOY includes a wide range of activities such as keynote speeches, panel discussions, breakout sessions, documentary screenings, youth dialogues, case study presentations, a climate fresk activity, and opportunities for networking and engagement. These activities revolve around themes like youth empowerment in climate action, sustainability education, biodiversity conservation, food security, corporate sustainability, and innovative solutions. Additionally, there will be opportunities to explore the intersection of art and technology with sustainability.
                </p>
            </div>
		</section>

	</Container>
</Layout>

<style>
	.style-guide__section {
		margin: var(--section-margin) auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.style-guide-forms__container {
		display: grid;
		gap: 1rem;
	}
	.style-guide-forms__container h3 {
		margin-bottom: 0.5rem;
	}
	.style-guide-color__card {
		margin-bottom: 1rem;
		background-color: var(--theme-primary);
		color: var(--theme-on-primary);
		padding: 1rem;
		border-radius: var(--theme-shape-radius);
	}
	.style-guide-color__card--surface-1 {
		background-color: var(--theme-surface-1);
		color: var(--theme-on-surface-1);
	}
	.style-guide-color__card--surface-2 {
		background-color: var(--theme-surface-2);
		color: var(--theme-on-surface-2);
	}
	@media (max-width: 664px) {
		.style-guide__section {
			grid-template-columns: 1fr;
			gap: 2rem;
			width: 99%;
			margin: auto;
			border-radius: var(--theme-shape-radius);
		}
	}
	img {
		border-radius: var(--theme-shape-radius);
	}
	div {
		padding: 20px;
	}
</style>
