---
import ContactForm from '../components/forms/Register.astro';
import Layout from '../layouts/Page.astro';
import { Container, TextCardSection } from '@littlesticks/odyssey-theme-components';

const seo = {
	title: 'Register | LCOY UAE',
	description: 'Registration for LCOY UAE',
};
---

<Layout seo={seo}>
	<Container>
		<TextCardSection>
				<h1>Registration</h1>
				<p>
					We welcome you to take a few minutes to <a href="https://forms.gle/PQ1aQmrmHJhKcKGw7">register</a> and share your thoughts on the identified thematic areas of LCOY UAE 2023. We are excited to hear your insights! Please share your unique perspectives.
				</p>
				
				<div>
					<p>
						 Problems with signing up? Just email us: <em>
							<a href="mailto:info@lcoy.ae?subject=Registration for LCOY UAE 2022">info@lcoy.ae</a>
							</em>
					</p>
				</div>
			<div class="col-2__container">
				{/* Update the below link with your google form link*/}
				<iframe src="https://forms.gle/PQ1aQmrmHJhKcKGw7"   style="border: 0; width:100%; height: 500px; overflow: auto;" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
			</div>
		</section>
	</Container>
</Layout>

<style>
	.contact-hero__section {
		margin: var(--section-margin) auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		min-height: calc(90vh - var(--navbar-height));
		gap: 3rem;
	}
	.contact-hero__text-section {
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: var(--theme-surface-1);
		border-radius: var(--theme-shape-radius);
	}
	.col-2__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	@media (max-width: 768px) {
		.contact-hero__section {
			grid-template-columns: 1fr;
		}
	}
</style>
