---
import ContactForm from '../components/forms/Register.astro';
import Layout from '../layouts/Page.astro';
import { Container, TextCardSection } from '@odyssey-theme/components';

const seo = {
	title: 'Register | LCOY UAE',
	description: 'Registration for LCOY UAE',
};
---

<Layout seo={seo}>
	<Container>
		<TextCardSection>
				<h1>Registration</h1>
				<p>
					Registrations are open! Choose the events you'd like to go to, add your name and email, and you're all set to attend
					LCOY UAE. If you'd like to get involved in one of our panels, fill out the application in the form and we'll be in touch.
				</p>
				<h2>What is a panelist?</h2>
				<p>
				    As a panelist, you are involved with on-stage discussions surrounding your chosen industry alongside your peers. Panels
				     will focus on youth involvement and potential policy improvements within your industry. There will also be a Question &
				      Answer session at the end of your panel. If you're selected, we'll be in touch with more information. You would be
				      required to attend a meeting with the LCOY team 2 weeks before the event to prepare for your panel.
				<div>
					<p>
						 <em
							><a href="mailto:info@lcoy.ae">Problems with signing up? Just email us: info@lcoy.ae</a
							></em
						>
					</p>
				</div>
			<div class="col-2__container">
				<ContactForm />
			</div>
		</section>
	</Container>
</Layout>

<style>
	.contact-hero__section {
		margin: var(--section-margin) auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		min-height: calc(90vh - var(--navbar-height));
		gap: 3rem;
	}
	.contact-hero__text-section {
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: var(--theme-surface-1);
		border-radius: var(--theme-shape-radius);
	}
	.col-2__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	@media (max-width: 768px) {
		.contact-hero__section {
			grid-template-columns: 1fr;
		}
	}
</style>
